@import "@/scss/variables";
@import "@/scss/mixins";

%text {
  display: block;
  height: auto;
  font-size: 3.5rem;

  @include lg() {
    font-size: 8rem;
  }
}
%button {
  border-radius: 10px;
  padding: 0.7rem 1rem;
  outline: none;
  border: none;
  width: 8rem;
}
.root {
  box-shadow: none;
  margin: 0;
  background-color: $black;
  text-align: center;
  padding: 1rem;
  height: 100vh;

  .nikeDunk {
    @extend %text;
    background: linear-gradient(to top, black, gray, white);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .highRetro {
    @extend %text;
    background: linear-gradient(to top, black, gray);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.6;
  }

  .heroContainer {
    position: relative;
    margin-top: 1rem;

    .heroImage {
      position: absolute;
      right: 0;
      top: -2rem;
      left: -3rem;
      bottom: 0;
      height: 23rem;
      width: 100%;
    }
  }

  .buttons {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;

    margin-top: 9rem;

    .buyNowBtn {
      @extend %button;
    }
    .detailsBtn {
      @extend %button;
      background-color: transparent;
      border: 1px solid $white;
      color: $white;
    }
  }
}
